# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# ENV FILES
# =========================
.env
.env.local
.env.production
.env.development

# =========================
# FRONTEND
# =========================
frontend/node_modules
frontend/dist
frontend/.vite

# =========================
# BACKEND
# =========================
backend/vendor
backend/node_modules
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/bootstrap/cache/*
backend/public/hot

# Keep important storage folders
!backend/storage/logs/.gitignore
!backend/storage/framework/cache/.gitignore
!backend/storage/framework/sessions/.gitignore
!backend/storage/framework/views/.gitignore

# =========================
# TEST
# =========================
coverage/